<%- include('./partials/header.ejs') %>

<h1 class="mt-2 font-medium text-gray-900">Welcome to Ra'ayek - An Online Book Review Platform</h1>
<h2>Let's review books, one book at a time.</h2>
<p>Immerse yourself in the love of books, where passion is lit and flames of book engulf your being</p>
<br><br>
<img src="../images/library.jpg" width="800" height="500">


<%- include('./partials/footer.ejs') %>