<%- include('./partials/header.ejs') %>
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
</head>
<body>
  <h1 class="text-xl font-bold underline">
    Hello world!
  </h1>
</body>
</html>
<h1 class="mt-26">Welcome to Ra'ayek - An Online Book Review Platform</h1>
<h2>Let's review books, one book at a time.</h2>
<p>Immerse yourself in the love of books, where passion is lit and flames of book engulf your being</p>
<button class="">Browse all books</button>
<br><br>
<img src="../images/library.jpg" width="400" height="300">
<p>Sign in or sign up to get started.</p>

<%- include('./partials/footer.ejs') %>